body {
  background-image: url("../img/banner-game.webp");
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  padding: 20px 30px;
  font-size: 1.2em;
  border-radius: 0 0 4px 4px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, max-content));
  margin: 0 auto;
  max-width: 600px;
  transform: translateY(0) !important;
}

.card {
  margin: 10px auto;
  width: 90px;
  height: 110px;
  border-radius: 5px;
  position: relative;
  transition: all 300ms;
  transform-style: preserve-3d;
  background-color: #555;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 4px;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url("../img/card-default.png");
  backface-visibility: hidden;
  background-size: cover;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

section {
  display: none;
}

/* WIN GAME */

body.win > main {
  display: none;
}

body.win {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

section.win {
  display: block;
  display: flex;
  flex-direction: column;
  background-color: #333;
  padding: 30px 40px;
  border-radius: 4px;
  color: #fff;
  gap: 20px;
}

section.win p {
  font-size: 1.4rem;
}

.btn {
  background-color: #1d45ea;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

.btn.return {
  background-color: red;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .grid {
    gap: 5px;
  }
  .card {
    margin: 5px auto;
  }
}
