body {
  background-color: #222;
  color: #fff;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
}

.content {
  background-color: #333;
  border-radius: 0 0 4px 4px;
}

.content-image {
  max-width: 500px;
  grid-column: 1 / -1;
}

.content-image img {
  border-radius: 4px 4px 0 0;
}

.content-infos h1 {
  text-align: center;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.infos {
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
  margin-bottom: 30px;
}

.infos label {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 400;
}

.infos input {
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 1.25rem;
  margin-bottom: 25px;
}

.btn {
  background-color: #1d45ea;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

.btn:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: default;
}

@media (max-width: 600px) {
  .content {
    max-width: 300px;
  }
  .content-image {
    width: 100%;
  }
  .content-infos h1 {
    font-size: 1.5rem;
  }
  .infos input {
    padding: 5px;
  }
  .infos button {
    padding: 5px;
  }
}
